<div class="title">
    <h1>Ver producto</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>Código: 123</mat-card-title>
        <mat-card-content>
            <P><STRONg>Descripción: </STRONg>  Color negro  </P>
            <P><STRONg>Unidad de medida: </STRONg>  50cm  </P>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="listadoProducto" mat-raised-button>Atras</button>
        </mat-card-actions>
    </mat-card>
</div>
